<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>


<%= link_to "Restaurants", restaurants_path %>

<%= link_to "New Restaurant", new_restaurant_path %>